body {
    background-color: black !important;
}
.card-body {
    background-color: transparent;
    color: #fff; 
    
}
.card-img-top {
    height: 400px;
}

#outer{
    display: flex;
}

.card {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 150px;
    height: auto;
    margin-right: 15px;
}

.card-body {
    flex: 1;
}
